# packages in environment at /Users/aaron.spring/anaconda3/envs/xr:
#
# Name                    Version                   Build  Channel
appdirs                   1.4.3                    pypi_0    pypi
appnope                   0.1.0                 py37_1000    conda-forge
asciitree                 0.3.3                      py_2    conda-forge
asn1crypto                0.24.0                py37_1003    conda-forge
atomicwrites              1.3.0                      py_0    conda-forge
attrs                     19.1.0                     py_0    conda-forge
autopep8                  1.4.4                    pypi_0    pypi
backcall                  0.1.0                      py_0    conda-forge
black                     19.10b0                  pypi_0    pypi
bleach                    3.1.0                      py_0    conda-forge
bokeh                     1.1.0                    py37_0    conda-forge
bottleneck                1.2.1           py37h917ab60_1001    conda-forge
bzip2                     1.0.6             h1de35cc_1002    conda-forge
ca-certificates           2019.9.11            hecc5488_0    conda-forge
cartopy                   0.17.0          py37h929c6f0_1004    conda-forge
cdo                       1.9.6             heac6cf3_1006    conda-forge
certifi                   2019.9.11                py37_0    conda-forge
cffi                      1.12.3           py37hccf1714_0    conda-forge
cftime                    1.0.3.4                  pypi_0    pypi
chardet                   3.0.4                 py37_1003    conda-forge
click                     7.0                        py_0    conda-forge
click-plugins             1.1.1                    pypi_0    pypi
cligj                     0.5.0                    pypi_0    pypi
climalogs                 0.1                      pypi_0    pypi
climpred                  1.0.1.post53+dirty          pypi_0    pypi
cloudpickle               0.8.1                      py_0    conda-forge
cmocean                   2.0                        py_0    conda-forge
cryptography              2.6.1            py37h212c5bf_0    conda-forge
curl                      7.64.1               h22ea746_0    conda-forge
cycler                    0.10.0                   pypi_0    pypi
cytoolz                   0.9.0.1          py37h470a237_1    conda-forge
dask                      1.2.1                    pypi_0    pypi
dask-core                 1.2.0                      py_0    conda-forge
dbus                      1.13.6               h2f22bb5_0    conda-forge
decorator                 4.4.0                      py_0    conda-forge
defusedxml                0.5.0                      py_1    conda-forge
distributed               1.27.1                   py37_0    conda-forge
docrep                    0.2.7                    pypi_0    pypi
eccodes                   2.12.3               hac8aea4_1    conda-forge
entrypoints               0.3                   py37_1000    conda-forge
eofs                      1.4.0                    pypi_0    pypi
esm-analysis              1.0.2.post12+dirty          pypi_0    pypi
expat                     2.2.5             h0a44026_1002    conda-forge
fasteners                 0.14.1                   pypi_0    pypi
fftw                      3.3.8           nompi_h5c49c53_1105    conda-forge
fiona                     1.8.6                    pypi_0    pypi
freetype                  2.10.0               h24853df_0    conda-forge
future                    0.17.1                   pypi_0    pypi
geopandas                 0.5.0                    pypi_0    pypi
geos                      3.7.1             h0a44026_1000    conda-forge
gettext                   0.19.8.1          h46ab8bc_1002    conda-forge
glib                      2.58.3            h2836805_1001    conda-forge
hdf4                      4.2.13            hf3c6af0_1002    conda-forge
hdf5                      1.10.4          nompi_h0cbb7df_1106    conda-forge
heapdict                  1.0.0                 py37_1000    conda-forge
holoviews                 1.12.2                   pypi_0    pypi
icu                       58.2              h0a44026_1000    conda-forge
idna                      2.8                   py37_1000    conda-forge
intake                    0.5.0                      py_0    conda-forge
intake-esm                2019.2.28.post168+dirty          pypi_0    pypi
intake-xarray             0.3.0                      py_0    conda-forge
ipykernel                 5.1.0           py37h24bf2e0_1002    conda-forge
ipython                   7.5.0            py37h24bf2e0_0    conda-forge
ipython_genutils          0.2.0                      py_1    conda-forge
ipywidgets                7.4.2                      py_0    conda-forge
isort                     4.3.18                   py37_0    conda-forge
jasper                    1.900.1           h636a363_1006    conda-forge
jedi                      0.13.3                   py37_0    conda-forge
jinja2                    2.10.1                     py_0    conda-forge
joblib                    0.13.2                   pypi_0    pypi
jpeg                      9c                h1de35cc_1001    conda-forge
jsonschema                3.0.1                    py37_0    conda-forge
jupyter                   1.0.0                      py_2    conda-forge
jupyter_client            5.2.4                      py_3    conda-forge
jupyter_console           6.0.0                      py_0    conda-forge
jupyter_core              4.4.0                      py_0    conda-forge
jupyterlab                0.35.5                   py37_0    conda-forge
jupyterlab_server         0.2.0                      py_0    conda-forge
kiwisolver                1.1.0            py37h770b8ee_0    conda-forge
krb5                      1.16.3            hcfa6398_1001    conda-forge
libaec                    1.0.4                h0a44026_0    conda-forge
libblas                   3.8.0                8_openblas    conda-forge
libcblas                  3.8.0                8_openblas    conda-forge
libcurl                   7.64.1               h16faf7d_0    conda-forge
libcxx                    8.0.0                         2    conda-forge
libcxxabi                 8.0.0                         2    conda-forge
libedit                   3.1.20170329      hcfe32e1_1001    conda-forge
libffi                    3.2.1             h6de7cb9_1006    conda-forge
libgfortran               3.0.1                         0    conda-forge
libiconv                  1.15              h01d97ff_1005    conda-forge
liblapack                 3.8.0                8_openblas    conda-forge
libnetcdf                 4.6.2             h6b88ef6_1001    conda-forge
libpng                    1.6.37               h2573ce8_0    conda-forge
libsodium                 1.0.16            h1de35cc_1001    conda-forge
libssh2                   1.8.2                hcdc9a53_2    conda-forge
libtiff                   4.0.10            h79f4b77_1001    conda-forge
libxml2                   2.9.9                hd80cff7_0    conda-forge
libxslt                   1.1.32            h33a18ac_1002    conda-forge
line_profiler             2.1.2            py37h1de35cc_0  
llvm-openmp               8.0.0                h770b8ee_0    conda-forge
llvmlite                  0.29.0                   pypi_0    pypi
locket                    0.2.0                      py_2    conda-forge
lxml                      4.3.3            py37h08abf6f_0    conda-forge
markupsafe                1.1.1            py37h1de35cc_0    conda-forge
matplotlib                3.0.3                    py37_1    conda-forge
matplotlib-base           3.0.3            py37habd5b94_1    conda-forge
mccabe                    0.6.1                    pypi_0    pypi
mistune                   0.8.4           py37h1de35cc_1000    conda-forge
monotonic                 1.5                      pypi_0    pypi
more-itertools            4.3.0                 py37_1000    conda-forge
msgpack-numpy             0.4.4.2                    py_1    conda-forge
msgpack-python            0.5.6                    pypi_0    pypi
munch                     2.3.2                    pypi_0    pypi
nb-black                  1.0.6                    pypi_0    pypi
nb_conda_kernels          2.2.2                    py37_0    conda-forge
nbconvert                 5.5.0                      py_0    conda-forge
nbformat                  4.4.0                      py_1    conda-forge
nc-time-axis              1.2.0                      py_0    conda-forge
ncurses                   6.1               h0a44026_1002    conda-forge
netcdf4                   1.5.1.1          py37h58b02fa_0    conda-forge
nodejs                    11.14.0              h6de7cb9_0    conda-forge
notebook                  5.7.8                    py37_0    conda-forge
numba                     0.45.1                   pypi_0    pypi
numcodecs                 0.6.3            py37h0a44026_0    conda-forge
numpy                     1.16.3           py37hdf140aa_0    conda-forge
olefile                   0.46                       py_0    conda-forge
openblas                  0.3.6                hd44dcd8_1    conda-forge
openssl                   1.1.1c               h01d97ff_0    conda-forge
ossuuid                   1.6.2             h0a44026_1000    conda-forge
owslib                    0.17.1                     py_0    conda-forge
packaging                 19.0                       py_0    conda-forge
pandas                    0.24.2           py37h0a44026_0    conda-forge
pandoc                    2.7.2                         0    conda-forge
pandocfilters             1.4.2                      py_1    conda-forge
param                     1.9.0                    pypi_0    pypi
parso                     0.4.0                      py_0    conda-forge
partd                     0.3.9                      py_0    conda-forge
pathspec                  0.6.0                    pypi_0    pypi
patsy                     0.5.1                      py_0    conda-forge
pcre                      8.41              h0a44026_1003    conda-forge
pexpect                   4.7.0                    py37_0    conda-forge
pickleshare               0.7.5                 py37_1000    conda-forge
pillow                    6.0.0            py37h7095ceb_0    conda-forge
pip                       19.1                     py37_0    conda-forge
pluggy                    0.9.0                      py_0    conda-forge
pmmpiesm                  0.1                      pypi_0    pypi
proj4                     5.2.0             h1de35cc_1001    conda-forge
prometheus_client         0.6.0                      py_0    conda-forge
prompt_toolkit            2.0.9                      py_0    conda-forge
properscoring             0.1                      pypi_0    pypi
psutil                    5.6.2            py37h01d97ff_0    conda-forge
ptyprocess                0.6.0                   py_1001    conda-forge
py                        1.8.0                      py_0    conda-forge
pycodestyle               2.5.0                    pypi_0    pypi
pycparser                 2.19                     py37_1    conda-forge
pydocstyle                3.0.0                    pypi_0    pypi
pyepsg                    0.4.0                      py_0    conda-forge
pyflakes                  2.1.1                    pypi_0    pypi
pygments                  2.3.1                      py_0    conda-forge
pykdtree                  1.3.1           py37h917ab60_1002    conda-forge
pylama                    7.7.1                    pypi_0    pypi
pymistral                 0.1                      pypi_0    pypi
pyopenssl                 19.0.0                   py37_0    conda-forge
pyparsing                 2.4.0                      py_0    conda-forge
pyproj                    1.9.6           py37h9c430a6_1000    conda-forge
pyqt                      5.9.2            py37h2a560b1_0    conda-forge
pyrsistent                0.15.1           py37h01d97ff_0    conda-forge
pyshp                     2.1.0                      py_0    conda-forge
pysocks                   1.6.8                 py37_1002    conda-forge
pytest                    4.4.1                    py37_0    conda-forge
python                    3.7.3                h0d93f26_0    conda-forge
python-cdo                1.5.2                      py_0    conda-forge
python-dateutil           2.8.0                      py_0    conda-forge
python-snappy             0.5.4            py37h1e06ddd_0    conda-forge
pytz                      2019.1                     py_0    conda-forge
pyviz-comms               0.7.2                    pypi_0    pypi
pyyaml                    5.1              py37h1de35cc_0    conda-forge
pyzmq                     18.0.1           py37h2d07e9b_1    conda-forge
qt                        5.9.7                h93ee506_1    conda-forge
qtconsole                 4.5.1                      py_0    conda-forge
readline                  7.0               hcfe32e1_1001    conda-forge
regex                     2019.11.1                pypi_0    pypi
regionmask                0.4.0                    pypi_0    pypi
requests                  2.21.0                py37_1000    conda-forge
rise                      5.5.0                    py37_0    conda-forge
ruamel                    1.0                      py37_0    conda-forge
ruamel.yaml               0.15.94          py37h01d97ff_0    conda-forge
scikit-learn              0.21rc2                  pypi_0    pypi
scipy                     1.3.0rc1                 pypi_0    pypi
seaborn                   0.9.0                      py_1    conda-forge
send2trash                1.5.0                      py_0    conda-forge
setuptools                41.0.1                   py37_0    conda-forge
shapely                   1.6.4           py37h4b8df73_1004    conda-forge
sip                       4.19.8          py37h0a44026_1000    conda-forge
six                       1.12.0                py37_1000    conda-forge
snappy                    1.1.7             h0a44026_1002    conda-forge
snowballstemmer           1.2.1                    pypi_0    pypi
sortedcontainers          2.1.0                      py_0    conda-forge
sqlite                    3.26.0            h1765d9f_1001    conda-forge
statsmodels               0.9.0           py37h917ab60_1000    conda-forge
tblib                     1.3.2                      py_1    conda-forge
terminado                 0.8.2                    py37_0    conda-forge
testpath                  0.4.2                   py_1001    conda-forge
tk                        8.6.9             ha441bb4_1001    conda-forge
toml                      0.10.0                   pypi_0    pypi
toolz                     0.9.0                    pypi_0    pypi
tornado                   6.0.2            py37h01d97ff_0    conda-forge
tqdm                      4.31.1                     py_0    conda-forge
traitlets                 4.3.2                 py37_1000    conda-forge
typed-ast                 1.4.0                    pypi_0    pypi
udunits2                  2.2.27.6          h776b7f1_1001    conda-forge
urllib3                   1.24.2                   py37_0    conda-forge
wcwidth                   0.1.7                      py_1    conda-forge
webencodings              0.5.1                      py_1    conda-forge
wheel                     0.33.1                   py37_0    conda-forge
widgetsnbextension        3.4.2                 py37_1000    conda-forge
xarray                    0.14.0                     py_0    conda-forge
xlrd                      1.2.0                    pypi_0    pypi
xrft                      0.2.0+6.g43835e1          pypi_0    pypi
xskillscore               0.0.4                    pypi_0    pypi
xz                        5.2.4             h1de35cc_1001    conda-forge
yaml                      0.1.7             h1de35cc_1001    conda-forge
yapf                      0.27.0                     py_0    conda-forge
zarr                      2.3.1                    py37_0    conda-forge
zeromq                    4.3.1             h0a44026_1000    conda-forge
zict                      0.1.4                      py_0    conda-forge
zlib                      1.2.11            h1de35cc_1004    conda-forge
